body {

    /* Hearthstone Brown-hues */
    background: #3A2125;
    background: #542909;
    background: #AF4900;
    background: #B86500;
    background: #CC8617;
    background: #F2B737;

    /* Hearthstone Blue-hues */
    background: #37253B;
    background: #645F97;
    background: #236FF6;
    background: #71FBFF;
    background: #E1FFFF;

}