nav {
    background-image: url(https://d2q63o9r0h0ohi.cloudfront.net/images/nav/newNav/wood_middle_repeat-…2d3b380….png);
    background-size: 1504px 73px;
    background-position: bottom;
    background-repeat: repeat-x;
}

/* Variable usage example. */
a:hover {
    color: var(--hueYellow);
}

#loginItem {
    float: right;
}

ul {
    display: block;
}

ul li {
    float: left;
    padding: 20px;
}