body * {
    background: grey;
}

ul {
    display: block;
}

ul li {
    float: left;
    padding: 20px;
}

#topBar {
    position: fixed;
    width: 100%;

    top: 0;
}

#loginItem {
    float: right;
}

#content {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;

    margin-top: 220px;
}