form {
    div {
        label {
            width: 25%;
            display: inline-block;
        }

        input, select, textarea {
            width: 25%;
            display: inline-block;
        }
    }

    input[type=button], input[type=submit], button, a.button {
        padding: 5px 10px;
    }
}