form {
    div {
        label {
            width: 25%;
            display: inline-block;
        }

        input, select {
            width: 25%;
            display: inline-block;
        }
    }
}