@import "variables.scss";

header {
    background-image: url(../../img/header_big.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat-x;

    height: 150px;
}

nav {
    background-image: url(../../img/header.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat-x;
}

#topBar {
    position: fixed;
    width: 100%;

    top: 0;

    h1, h3 {
        font-family: "TitleFont";
        position: absolute;
        
        color: var(--hueWhite);
        text-shadow: 0 0 5px var(--hueBlue);
    }

    h1 {
        font-size: 3em;

        left: 160px;
        top: 35px;
    }

    h3 {
        font-size: 1em;

        left: 475px;
        top: 64px;
    }
}

#headerImage {
    height:120px;

    padding-top: 10px;
    padding-left: 20px;
}

nav {
    a {
        color: var(--hueWhite);
        text-shadow: 0 0 5px var(--hueBlue);
    
        text-decoration: none;
    
        transition: all 0.3s linear;

        &:hover, &:active {
            color: var(--hueYellow);
        }
    }
    
    #loginItem {
        float: right;
    }
    
    ul {
        display: block;

        li {
            float: left;
            padding: 20px;
        }
    }
}