@import url(variables.css);

header {
    background-image: url(../img/header_big.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat-x;

    font-family: "HeadingFont";
}

#topBar h1 {
    font-family: "TitleFont";
    font-size: 3em;
}

a {
    color: var(--hueYellow);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--hueOrange);
}

#loginItem {
    float: right;
}

ul {
    display: block;
}

ul li {
    float: left;
    padding: 20px;
}