nav {
    background-image: url(https://d2q63o9r0h0ohi.cloudfront.net/images/nav/newNav/wood_middle_repeat-13afba7e33301ed48451159052b5b90f25685a3a9b21a32558d1ca7f2f2d3b380dc6d098f55847a6c8d6ca26407188be8654061f116074f39bd43542ffdfb205.png);
    background-size: 1504px 73px;
    background-position: bottom;
    background-repeat: repeat-x;
}

/* Variable usage example. */
a:hover {
    color: var(--hueYellow);
}

#loginItem {
    float: right;
}

ul {
    display: block;
}

ul li {
    float: left;
    padding: 20px;
}