@import "_variables";

@import "elements/forms";

@import "components/_topBar.scss";

@import "components/_loader.scss";

@import "components/_sideBarDeckList.scss";

@import "../opentip.css";

html {
    height: calc(100% - 307px);
    background: url(../../assets/img/background.jpg);
}

body {
    font-family: "Franklin Gothic Book";
    height: 100%;
    background: var(--hueSlateGray);
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
}

.hidden {
    display: none !important;
}

.content {
    min-height: 100%;
    margin-top: 260px;
    padding-bottom: 47px;

    #content-header {
        background-image: url(../../img/content-header.png);
        background-position: center -2px;

        height: 100px;
        width: 100%;
        transform: translate(0, -55px);
        margin-bottom: -55px;
    }

    .centered {
        text-align: center;
        margin: 3em auto;
    
        &.small-centered {
            margin-top: 0;
            padding-top: 70px;
            border: 2px solid var(--hueDarkBrown);
            max-width: 500px;

            background-image: url(../../img/header_small.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: var(--hueLightBrown);

            form {
                section {
                    label {
                        width: 30%;
                        float: left;
                        text-align: right;
                    }
                    input {
                        width: 40%;
                    }
                }
            }

            input[type=submit] {
                margin-left: 55%;

            }
        }
    }

    background: url(../../img/background.jpg);
    color: black;

    input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
        background: rgb(255, 243, 221);
        border: 2px solid rosybrown;
        box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
        margin-bottom: 10px;
        height: 20px;
    }

    input {
        &[type=button], &[type=submit] {
            border: 1px solid var(--hueDarkBrown);
            background: rgb(170, 155, 126);
            color: var(--hueDarkBrown);
            font-weight: bold;
        }

        &:focus {
            box-shadow: 0px 0px 40px #51cbee;
        }
    }
    
    select {
        height: 25px;
    }

    section {
        margin: 1em;

        &.isEditMode {
            .readMode {
                display: none;
            }
            .editMode {
                display: inline-block;
            }
        }

        &.isReadMode {
            .readMode {
                display: inline-block;
            }
            .editMode {
                display: none;
            }
        }
    }

    &.small-content {
        min-width: 400px;
        max-width: 500px;
    }

    .deck-listing {
        padding: 10px 10px 20px 10px;
        margin: 5px 0;
        border: 2px solid black;
  
        &.Druid {
          background: url(/assets/img/deck-banners/druid.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 40%;
        }
        &.Hunter {
          background: url(/assets/img/deck-banners/hunter.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Mage {
          background: url(/assets/img/deck-banners/mage.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Paladin {
          background: url(/assets/img/deck-banners/paladin.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 20%;
        }
        &.Warlock {
          background: url(/assets/img/deck-banners/warlock.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Priest {
          background: url(/assets/img/deck-banners/priest.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Rogue {
          background: url(/assets/img/deck-banners/rogue.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Shaman {
          background: url(/assets/img/deck-banners/shaman.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        &.Warrior {
          background: url(/assets/img/deck-banners/warrior.png);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: 100% 10%;
        }
        
        > div {
            display: inline-block;

            &.publishDate {
                display: block;
                padding: 10px 0;
            }

            &.description {
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.class {
                width: 30%;
            }

            &.score {
                /* width does not need to be declared. */
            }
        }
    }
}

#deckEditorContent {
    width:72%;
    padding-left: 28%;

    input[type=checkbox] {
        text-align: left;
        width: 20px;
    }
}

#register {
    text-align: center;
    margin: 1em auto;
    padding: 1em;

    div {
        margin: 1em;
    }
}

#profile {
    padding: 1em 0;

    input {
        background: white;
    }

    div {
        margin: 2em;
    }
}

#searchedCards, #visitedDeckContent {
    max-width: 1000px;
    margin: 1em auto;
    text-align: center;
}

.displayedCard {
    display: inline-block;
    width: 240px;
    transition: all 0.2s ease;

    .cardCount {
        text-align: center;
        font-size: 1.5em;
    }

    &.hover-plus {
        .add-card {
            display: none;
        }

        &:hover {
            .add-card {
                display: block;
                position: absolute;
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                top: 20px;
                left: 27px;
                font-size: 4em;
                z-index: 1;
                background-color: transparent;
                color: white;
                border: none;
                cursor: pointer;
            }

            img {
                filter: brightness(50%);
            }

        }

        input {

            &:focus {
                box-shadow: none;
            }

        }

    }

    &:hover {
        transform: translateY(0) scale(1.1);
    }


}

.not-found {
    text-align: center;
    position: relative;

    &:hover {
        > span.four-oh-four {
            opacity: 1;
        }  
    }

    > span.name {
        position: absolute;
        top: 265px;
        left: calc(50% - 0.5em);
        font-weight: bold;
    }

    > span.four-oh-four {
        transition: all 0.2s linear;
        opacity: 0;
        position: absolute;
        top: 150px;
        left: calc(50% - 52px);
        font-size: 4em;
    }
}

#deckList {
    .deckListElement {
        height: auto;
        min-height: 2em;
        position: relative;

        .cardAmount {
            font-weight: bold;
            font-size: 24px;
        }
    }
    
    .removeCardForm {
        position: absolute;
        right: 0;
        top: 0;
        
    }
}