@import "nav.scss";
@import "variables.scss";

body {
    font-family: "Franklin Gothic Book";
    height: 100%;
    background: linear-gradient(to right, black 1%, var(--hueWhite) 50%, black 99%);
}

#topBar {
    position: fixed;
    width: 100%;

    top: 0;
}

.content {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 220px;

    padding: 2em;

    background: var(--hueSlateGray);
    color: var(--hueWhite);
}

.content input {
    background: white;
}

.content section {
    margin: 1em;
}

.content.small-content {
    min-width: 400px;
    max-width: 500px;
}

.centered {
    text-align: center;
    margin: 3em auto;
}

#register {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
}

#register div {
    margin: 1em;
}

#profile {
    padding: 1em 0;
}

#profile input {
    background: white;
}

#profile div {
    margin: 2em;
}

#submit {
    margin: 2em;
    display: block;
}