@import "nav.scss";
@import "variables.scss";
@import "modal.scss";

body {
    font-family: "Franklin Gothic Book";
    height: 100%;
    background: linear-gradient(to right, black 1%, var(--hueWhite) 50%, black 99%);
}

h3 {
    font-size: 1.4em;
    color: var(--hueWhite);
    text-shadow: 0 0 5px var(--hueBlue);
}

.content {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 220px;

    padding: 2em;

    background: var(--hueSlateGray);
    color: var(--hueWhite);

    input {
        background: white;
    }

    section {
        margin: 1em;
    }

    &.small-content {
        min-width: 400px;
        max-width: 500px;
    }

    .deck-listing {
        padding: 10px 10px 20px 10px;
        margin: 5px 0;
        border: 2px solid black;

        > div {
            display: inline-block;

            &.description {
                width: 50%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &.class {
                width: 30%;
            }

            &.score {
                /* width does not need to be declared. */
            }
        }
    }
}

.centered {
    text-align: center;
    margin: 3em auto;
}

#register {
    text-align: center;
    margin: 1em auto;
    padding: 1em;

    div {
        margin: 1em;
    }
}

#profile {
    padding: 1em 0;

    input {
        background: white;
    }

    div {
        margin: 2em;
    }
}

.displayedCard {
    display: inline-block;
}