
#sideBarDeckList {
  background-image: url(../../img/background.jpg), url(../../img/header-sideways.png);
  background-size: 96% 100%;
  background-position: top left, top right;
  background-repeat: no-repeat;
  float: left;
  height: 100%;
  width: 26%;
  position: fixed;
  z-index: 1;
  top: 205px;
  left: 0;
  background-color: #B86500;
  overflow-x: hidden;
  padding-top: 20px;

  transition: filter 0.2s ease-in-out;
  filter: brightness(100%);

  .load-container {
    transition: opacity 0.2s ease-in-out;   
    opacity: 0;
  }

  &.loading {
    filter: brightness(80%);

    .load-container {
      opacity: 1;
    }
  }
}

